@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    #men {
        display: none;
    }

    header > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
        }
}
