@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
header {
    background-color: rgba(52, 58, 58, 0.435);
}
header > h1 {
    text-align: center;
}
menu > ul {
    list-style-type: none;
    background-color: rgba(51, 56, 62, 0.44);
}
menu > ul > li {
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: rgba(30, 39, 50, 0.478);
}
article{
    width: 600px;
    margin: auto;
    display: block;
}