@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@1,100..700&family=Rubik+80s+Fade&family=Sixtyfour&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@1,100..700&family=Rubik+80s+Fade&family=Sixtyfour&family=Sriracha&display=swap');

    :root {
        --fonte1: verdana, sans-serif, Geneva, Tahoma;
        --fonte2: 'passsion one', cursive;
        --fonte3: 'Sriracha', cursive;
    }
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: var(--fonte1);
        background-color: #f4f4f4;
    }
    #top {
        text-align: center;
        background-color: black;
        color: white;
        height: 100px;
        padding: 10px;
    }
    a {
        color: rgb(179, 177, 177);
        text-decoration: none;
    }
    a:hover {
        color: white;
        text-decoration: underline;
    }
    h1 {
        font-family: var(--fonte2);
        margin: 10px;
        padding: 0;
        font-size: 4vw;
    }
    p {
        margin: 8px;
        padding: 6px;
        font-size: 15px;
    }
    /**/
    section {
        font-family: var(--fonte3);
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 30px;
        font-size: 3,5vw;
    }
    section.normal {
        background-color: rgb(85, 92, 69);
        color: black;
    }
    section.imagem {
       background-color: rgb(66, 66, 66);
       color: white;
    }
    section.imagem > p {
        background-color: rgba(0, 0, 0, 0.374);
        display: inline-block;
        padding: 10px;
    }
    /**/
    footer {
        text-align: center;
        font-size: 15px;
        padding: 6px;
        color: rgb(178, 176, 176);
        background-color: black;
        text-decoration: none;
    }
    footer a:hover {
        color: white;
        text-decoration: underline;
    }