@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    height: 100vh;
    width: 98vw;
}

header {
    padding: 9px;
    margin: 8px;
    font-size: 1em;
}

main {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.365);
    background-color: lightgrey;
    padding: 10px;
    margin: 10px;
    font-weight: 1.2em;
    line-height: 1.3em;
}
section {
    display: flex;
    padding: 8px;
}

.ex1 {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

img {
    width: 450px;
    height: 300px;
}

.ex2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

section > p {
    width: 50%;
    padding: 2px;
}

footer {
    padding: 9px;
    margin: 8px;
    font-size: 1em;
}

